%h1 Listing profiles

%table
  %thead
    %tr
      %th ProfileImg
      %th Email
      %th Mobile
      %th Firstname
      %th Lastname
      %th Name of Firm
      %th ESTYear
      %th Website
      %th PAN
      %th VAT/TIN
      %th BankAC
      %th Billing Address
      %th Delivery Address
      %th
      %th
      %th

  %tbody
    - @profiles.each do |profile|
      %tr
        %td=image_tag profile.profileImg.url(:thumb)
        %td= User.find(profile.user_id).email 
        %td= User.find(profile.user_id).mobile
        %td= profile.firstname
        %td= profile.lastname
        %td= profile.nameoffirm
        %td= profile.estyear
        %td= profile.website
        %td= profile.pan
        %td= profile.tanvat
        %td= profile.bankacc
        %td= profile.billingaddress
        %td= profile.deliveryaddress
        %td= link_to 'Show', profile
        %td= link_to 'Edit', edit_profile_path(profile)
        %td= link_to 'Destroy', profile, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

/= link_to 'New Profile', new_profile_path
