%p#notice= notice
%p
  %b File:
  = link_to "Download", @profile.profileImg.url
%p
  %b Email:
  = User.find(@profile.user_id).email 
%p
  %b Mobile:
  = User.find(@profile.user_id).mobile

%p
  %b Firstname:
  = @profile.firstname
%p
  %b Name of Firm:
  = @profile.nameoffirm
%p
  %b EST Year:
  = @profile.estyear
%p
  %b WebSite:
  = @profile.website
%p
  %b Tan/VAT:
  = @profile.tanvat
%p
  %b BankACC:
  = @profile.bankacc
%p
  %b Billing Address:
  = @profile.billingaddress
%p
  %b Delivery Address:
  = @profile.deliveryaddress


= link_to 'Edit', edit_profile_path(@profile)
\|
= link_to 'Back', profiles_path
